.banner {
    height: 100vh;
    background-image: url('https://ibb.co/8zm0v9C');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    margin:20px
    
}
.left-banner{
    align-items: center;
    justify-content: center;

}
.navbar{
    background-color: rgb(0, 0, 0);
     
  
}

.parent-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
}

.servicesclass{
  background: rgb(8,185,174);
background: linear-gradient(90deg, rgba(8,185,174,1) 0%, rgba(41,8,112,1) 50%, rgba(211,76,244,1) 100%);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  padding-top: 10px;
  margin-bottom: 30px;

  border-radius: 30px;

}
.serviess{
  /* margin-left:3vw; */
 
  justify-content: center;
  align-items: center;
  flex-direction: wrap;
 

}
.carder{
    width:40%;


    margin-left:4vw;
}

.bntxtr {
    background:linear-gradient(#01010165,#0c0c0c65);
    color: #faf9f9; /* Optional: set the text color */
    padding: 2px 4px; /* Optional: add some padding */
    border-radius: 3px;
    font-weight: bold;
}

.bntr {
   
  color: #faf9f9; /* Optional: set the text color */
  padding: 2px 4px; /* Optional: add some padding */
  border-radius: 3px;
  font-weight: bold;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 10%;
  margin-left:42vw;
  scrollbar-highlight-color: aqua;
  margin-top: -132px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

mark{
  background-color: rgb(101, 178, 229);

}

.footers{
    background-color: #18151f;
}
/* This pen */
/* body {
	font-family: "Baloo 2", cursive;
	font-size: 16px;
	color: #ffffff;
	text-rendering: optimizeLegibility;
	font-weight: initial;
} */

.dark {
	background: #110f16;
}


.light {
	background: #f3f5f7;
}

a, a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
	margin: 2rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
} 

/* Cards*/
.postcard {
  flex-wrap: wrap;
  display: flex;
  
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;

	&.dark {
		background-color: #18151f;
	}
	&.light {
		background-color: #e1e5ea;
	}
	
	.t-dark {
		color: #18151f;
	}
	
  a {
    color: inherit;
  }
	
	h1,	.h1 {
		margin-bottom: 0.5rem;
		font-weight: 500;
		line-height: 1.2;
	}
	
	.small {
		font-size: 80%;
	}

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
		padding: 0;
    justify-content: center;

    .tag__item {
      display: inline-block;
      background: rgba(83, 83, 83, 0.4);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
@media screen and (min-width: 1024px){
		.postcard__text {
      padding: 2rem 3.5rem;
    }
		
		.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      
      top: -20%;
      height: 130%;
      width: 55px;
    }
	
  .postcard.dark {
		.postcard__text:before {
			background: #18151f;
		}
  }
	.postcard.light {
		.postcard__text:before {
			background: #e1e5ea;
		}
  }
}

.logingsite{
  background-color: #FFFFFF;
  margin: 35px;
 
}

.logingsiteimage{
  margin: 20px;
  
}

.logings{
  align-items: center;
  justify-content: center;
  background-color: rgb(140, 3, 103);
  border-radius: 5px;
  width:50%;
  /* height: 55%; */
  text-decoration: none;
  padding:5px;
  margin: 5px;
  
}

.logingl{
 
  align-items: center;
  justify-content: center;
  background-color: rgb(25, 191, 241);
  border-radius: 5px;
  width:50%;
  /* height: 55%; */
  text-decoration: none;
  padding:5px;
  margin: 5px;
  
  

}

.logings:hover{
  background-color: rgb(197, 19, 197);
  color: white;
  border-radius: 6px;
  padding: 3px;
}

.logingl:hover{
  background-color: rgb(169, 10, 169);
  color: white;
  border-radius: 6px;
  padding: 3px;
}


    