.tabler{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
/* body{
    height: 100vw;
    
} */

.footers{
   
    background-color: #18151f;
    margin-top: 10vw;
}



.bg{
    background-color: rgb(88, 165, 171);
    color:rgb(12, 7, 1)


}


.kg{
    background-color: rgb(88, 165, 171);
    color:rgb(12, 7, 1)


}

.kg:hover {
    background-color: rgb(15, 18, 19); /* Change this color as desired */
    color: rgb(255, 255, 255); /* Change this color as desired */
}


.bf{
    /* From https://css.glass */
background: rgba(23, 23, 23, 0.57);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11.5px);
-webkit-backdrop-filter: blur(11.5px);
border: 1px solid rgba(23, 23, 23, 0.91);
}

.pg{
    background-color: rgb(88, 171, 109);
}

.cg{
    background-color: rgb(171, 146, 88);
}


.navbar-toggler-icon {
    filter: invert(1); /* This makes the icon white */
  }
  
  .navbar-toggler {
    border-color: white; /* Optional: sets a white border around the button */
  }